@import "mixins.scss";

p {
  margin: 18px 0;
  color: #222222;
  line-height: 24px;
}

blockquote{
  color: #9c8c72;
  margin:40px 0;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  position: relative;
  padding: 25px 0;
  &:before{
    content:'';
    position: absolute;
    width: 240px;
    height: 1px;
    top: 0;
    left: 50%;
    background: #e0c69b;
    margin-left: -120px;
  }
  &:after{
    content:'';
    position: absolute;
    width: 160px;
    height: 1px;
    bottom: 0;
    background: #e0c69b;
    left: 50%;
    margin-left: -80px;
  }
}

a {
  color: #c78f4c;
}

.okh1{
  margin: 35px 0 29px;
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  color: #333;
  position: relative;
  text-align: center;
  >div{
    text-align: center;
    >span{
      position: relative;
      margin: 5px 0;
      font-size: 11px;
      font-weight: 600;
      color: #bd9565;
      text-transform: uppercase;
      padding: 0px 4px;
      display: inline-block;
      &:before{
        content: '';
        position: absolute;
        top: 19px;
        left: 85px;
        background: #d0d0d0;
        width: 150px;
        height: 1px;
      }
      &:after{
        content: '';
        position: absolute;
        top: 19px;
        right: 85px;
        background: #d0d0d0;
        width: 150px;
        height: 1px;
      }
    }
  }
}



h1 {
  margin: 13px 0 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 50px;
  color: #fff;
  position: relative;
}

h2{
  color: #333;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  margin: 25px 0 18px;
}

h3{
  color: #333;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin: 29px 0 20px;
}

h4{
  color: #333;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 20px 0;
}

ul {
  margin: 18px 0;
  li {
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 14px;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      margin-top: -3px;
      width:7px;
      height: 7px;
      background: url(../images/marker1.png) no-repeat;
    }
    +li {
      margin-top: 17px;
    }
  }
}

ol {
  list-style-image: none;
  list-style-type: decimal-leading-zero;
  margin: 18px 0;
  counter-reset: item;
  >li {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 0 10px 60px;
    font-weight: 400;
    +li {
      margin-top: 8px;
    }
    &:before {
      content: '' counter(item) ' ';
      counter-increment: item;
      position: absolute;
      left: 5px;
      width: 20px;
      text-align: right;
      color: #333;
    }
    &:after {
      content: '';
      left: 1px;
      top: 1px;
      background: url(../images/marker2.png) no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
    }
  }
}

.table {
  width: 100%;
  margin:30px 0 18px;
  position:relative;
  th {
    color: #333;
    text-align: left;
    padding: 14px 18px;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #e3b486;
  }
  td {
    padding: 14px 18px;
    color: #666;
    vertical-align: top;
    font-size: 14px;
  }
  tr{
    border-bottom: 1px solid #e9e9e9;
  }
}
